.main-div {
  display: flex;
}

.main-div .left {
  padding: 0.2rem;
  background-color: rgba(51, 122, 183, 0.8);
}

.main-div .right {
  padding: 0.2rem;
  flex: 1;
}

.left span {
  margin: 0.5rem;
}

#divBottom {
  /* 固定位置 */
  position: fixed;
  /* 离下端距离 */
  bottom: 0px;
}
