.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont'; /* project id 1458169 */
  src: url('//at.alicdn.com/t/font_1458169_oow0zpmnjbn.eot');
  src: url('//at.alicdn.com/t/font_1458169_oow0zpmnjbn.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1458169_oow0zpmnjbn.woff2') format('woff2'), url('//at.alicdn.com/t/font_1458169_oow0zpmnjbn.woff') format('woff'), url('//at.alicdn.com/t/font_1458169_oow0zpmnjbn.ttf') format('truetype'), url('//at.alicdn.com/t/font_1458169_oow0zpmnjbn.svg#iconfont') format('svg');
}
